.container-mainpage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mainpage-item-grid {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;


}

.item-container {
    margin: 15px;
    padding: 5px;
    border: 1px dotted #597f7c;
    border-radius: 5px;
    box-shadow: 3px 8px 6px #597f7c;
    background-color: #e6f6f5;
    width: 250px;
}

.mainpage-photo {
    height: 250px;
    width: 100%;
    object-fit: cover;

}

.product_title {
    height: 100px;
}