.topbar-search {
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fcfcfc;
    padding: 30px;
    width: 80%;

}

.search-field {
    padding: 0px 10px 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #555;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 40px;
    width: 80%;
    height: auto;
    border-radius: 50px 0 0 50px !important;
}

.search-button {
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 10px;
    margin-top: 10px;
    color: #fff;
    background: #888;
    font-weight: 500;
    border: 1px solid #555;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 40px;
    height: auto;
    border-radius: 0 50px 50px 0 !important;
    font-size: small;
}

.search-advanced {
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 0px 10px;
    margin-top: 10px;
    color: #fff;
    background: #888;
    font-weight: 500;
    border: 1px solid #555;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 40px;
    height: auto;
    border-radius: 50px 50px 50px 50px !important;

}

.advanced-search div {
    margin: 10px;
}