.container-topbar {
    display: flex;
}

.navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    border-bottom: 3px;
    height: 130px;
    width: 100%;
    background-color: #597f7c;
    font-family: Georgia, serif;
    margin-top: 30px;

    margin-bottom: 100px;
    border-radius: 10px;
    padding: 0px 10px 20px 10px;

}


.topbar-image {
    margin: 10px;
}