.user-img {
    height: 250px;
    width: 50%;
    object-fit: cover;
    margin: 10px;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users-all {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    border: 1px dotted #597f7c;
    border-radius: 5px;
    width: 500px;
    color: #597f7c;
    box-shadow: 3px 8px 6px #597f7c;
    background-color: #e6f6f5;
    margin: 10px;
}

.user-content {
    margin: 10px;
}

.reviews {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;

}